<!DOCTYPE html>
<html ng-app="goChat">
<head>
    <meta charset="UTF-8" />
    <title>Chat Go with Angular</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-websocket/dist/angular-websocket.min.js"></script>
    <script src="node_modules/moment/min/moment.min.js"></script>
    <script src="node_modules/moment/locale/fr.js"></script>
    <script src="node_modules/angular-moment/angular-moment.min.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.min.js"></script> <!-- Support old browers -->

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="js/app.js"></script>
</head>

<body>
    <div class="container" ng-controller="goChatController as app">
        <div>
            <p ng-show="!app.messages.length">Il n'y a aucun message sur le chat pour le moment</p>
            <div ng-repeat="message in app.messages" class="message-item">
                <div class="message-item-head">
                    <p class="author">{{ message.author }}</p>
                    <span class="date" am-time-ago="message.date"></span>
                </div>
                <div class="message-item-body" ng-class="{'self':message.author === app.nickname, 'other':message.author !== app.nickname}">
                    <p ng-bind="message.body"></p>
                </div>
            </div>
            <p id="userNumber">Il y a {{app.clientNumber}} {{app.clientNumber > 1 ? "utilisateurs connectés" : "utilisateur connecté"}} sur le chat</p>
            <form name="messageForm" class="well form-horizontal" ng-submit="app.sendMessage()">
                <div class="control-group">
                    <label class="control-label" for="inputAuthor">Nickname: <span ng-if="app.nicknameIsChoosen" ng-bind="app.nickname"></span></label>
                    <input id="inputAuthor" type="text" ng-model="app.form.author" ng-if="!app.nicknameIsChoosen" required/>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputBody">Message:</label>
                    <div class="controls">
                        <textarea id="inputBody" ng-model="app.form.body" required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <button type="submit" class="btn btn-default" ng-disabled="!messageForm.$valid">Send</button>
                </div>
            </form>

            <p>Drop image</p>
            <div ngf-drop="app.upload($file)" ng-model="file" class="upload-drop-box"
                 ngf-drag-over-class="'dragover'" ngf-multiple="false"
                 ngf-pattern="'image/*'">Drop Image to upload here</div>

            <p>Or select</p>
            <button class="btn btn-default" ngf-select="app.upload($file)">Select file</button>

            <p>Download message / preview</p>
            <p ng-bind="app.uploadMessage"></p>
            <img ng-show="app.uploadSuccess" ng-src="uploads/{{app.uploadFileSrc}}" alt="dl preview" title="download preview"/>
        </div>
    </div>
    <div id="sb">
        <!-- div to scroll where new message -->
    </div>
</body>
</html>